############################
# VS Code
############################
69931ba0bcdd82709908e2e5/build/
*.pyc
*.code-workspace

.ipynb_checkpoints/
__pycache__/
.venv/
.devcontainer
.vscode
PPC_Matemática/

############################
# LaTeX – arquivos auxiliares
############################
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.idx
*.ilg
*.ind
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb

############################
# LaTeX – arquivos temporários/backup
############################
*.bak
*.backup
*.swp
*.swo
*~
.#*

############################
# PDFs gerados (opcional)
# Remova esta linha se quiser versionar o PDF final
############################
# *.pdf

############################
# Sistemas operacionais
############################
.DS_Store
Thumbs.db

build/
dev/
